astroid==2.5.1
asttokens==2.0.4
autocomplete==0.0.104
beautifulsoup4==4.9.3
blinker==1.7.0
bottle==0.12.25
Brlapi==0.8.2
Brotli==1.0.9
certifi==2020.6.20
cffi==1.14.5
chardet==4.0.0
click==8.1.3
cupshelpers==1.0
dbus-python==1.2.16
distro-info==1.0
docutils==0.16
executing==2.0.1
Flask==3.0.0
Flask-MySQL==1.5.2
Flask-MySQLdb==1.0.1
flask-paginate==2023.10.24
Flask-SQLAlchemy==3.1.1
friendly-traceback==0.7.61
gpg===1.14.0-unknown
greenlet==3.0.1
html5lib==1.1
httplib2==0.18.1
idna==2.10
importlib-metadata==4.12.0
isort==5.6.4
itsdangerous==2.1.2
jedi==0.18.0
Jinja2==3.1.2
lazy-object-proxy==0.0.0
logilab-common==1.8.1
louis==3.16.0
lxml==4.6.3
MarkupSafe==2.1.1
mccabe==0.6.1
mutagen==1.45.1
mypy==0.812
mypy-extensions==0.4.3
mysqlclient==2.1.1
olefile==0.46
parso==0.8.1
Pillow==8.1.2
ply==3.11
psutil==5.8.0
pure-eval==0.2.2
pycairo==1.16.2
pycparser==2.20
pycryptodomex==3.9.7
pycups==2.0.1
pycurl==7.43.0.6
Pygments==2.7.1
PyGObject==3.38.0
pylint==2.7.2
PyMySQL==1.0.2
PyQt5==5.15.2
PyQt5-sip==12.8.1
pyserial==3.5b0
PySimpleSOAP==1.16.2
pysmbc==1.0.23
python-apt==2.2.1
python-debian==0.1.39
python-debianbts==3.1.0
pyxattr==0.7.2
pyxdg==0.27
reportbug==7.10.3+deb11u1
requests==2.25.1
roman==2.0.0
Send2Trash==1.6.0b1
six==1.16.0
soupsieve==2.2.1
SQLAlchemy==2.0.23
stack-data==0.6.3
thonny==3.2.7
toml==0.10.1
typed-ast==1.4.2
typing-extensions==3.7.4.3
unattended-upgrades==0.1
urllib3==2.2.1
webencodings==0.5.1
websockets==8.1
Werkzeug==3.0.1
wrapt==1.12.1
xdg==5
yt-dlp==2023.11.16
zipp==3.8.0

